<section>
    <ol class="am-breadcrumb">
        <li><a href="#/home" class="am-icon-home">首页</a></li>
        <li class="am-active">讨论交流区</li>
    </ol>
</section>
<section class="am-g">
    <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
        <h2 class="am-titlebar-title ">
            讨论交流区
        </h2>
    </div>
    <div class="am-comments-list">
        <article class="am-comment am-u-sm-12 am-margin-top-lg am-comment-highlight"> <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" alt="" src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3716285601,4104654530&fm=27&gp=0.jpg"/> <!-- 评论者头像 -->
            </a>
            <div class="am-comment-main"> <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <div class="am-comment-meta"> <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">Me</a> <!-- 评论者 -->
                    </div>
                </header>
                <div class="am-comment-bd">
                    <div ng-if="replyId"><a href ng-click="cancelReply()">取消回复</a></div>
                    <div class="am-margin-top-sm">
                        <textarea id="commentField" style="border-style: none; width: 100%; padding:10px" placeholder="我有话要说..." class="" ng-model="newComment" ng-change="commentChange()"></textarea>
                    </div>
                    <p class="am-fr">
                        <button type="submit" class="am-btn am-btn-default" ng-show="!realname" ng-click="openLoginModal()">登录</button>
                        <button type="submit" class="am-btn am-btn-primary am-margin-left-sm" ng-click="addComment(0)"ng-show="realname"><span class="am-icon-paper-plane-o"></span></button>
                    </p>
                </div> <!-- 评论内容 -->
            </div>
        </article>
        <article class="am-comment am-u-sm-12 am-margin-top-lg" ng-repeat="c in commentList"> <!-- 评论容器 -->
            <a href="">
                <img class="am-comment-avatar" alt="" src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3716285601,4104654530&fm=27&gp=0.jpg"/> <!-- 评论者头像 -->
            </a>
            <div class="am-comment-main"> <!-- 评论内容容器 -->
                <header class="am-comment-hd">
                    <div class="am-comment-meta"> <!-- 评论元数据 -->
                        <a href="#link-to-user" class="am-comment-author">{{c.createBy}}</a> <!-- 评论者 -->
                        <span class="am-fr">发表于 <time datetime="">{{c.createTime}}</time></span>
                    </div>
                </header>
                <div class="am-comment-bd">
                    <div>{{c.content}}</div>
                    <div class="am-vertical-align-bottom am-fr am-margin-top-sm am-text-sm">
                        <a ng-click="agree(c, 'Y')" href ng-if="!c.agreedisabled"><span class="am-icon-thumbs-o-up"> {{c.agree}}</span></a>
                        <span class="am-icon-thumbs-o-up" ng-if="c.agreedisabled"> {{c.agree}}</span>
                        &nbsp;&nbsp;
                        <a ng-click="agree(c, 'N')" href ng-if="!c.againstdisabled"><span class="am-icon-thumbs-o-down"> {{c.against}}</span></a>
                        <span class="am-icon-thumbs-o-down" ng-if="c.againstdisabled"> {{c.against}}</span>
                        &nbsp;&nbsp;
                        <a ng-click="toReply(c.createBy, c.createById)" href><span class="am-icon-pencil-square-o"> 回复</span></a>
                    </div>
                </div> <!-- 评论内容 -->
            </div>
        </article>
    </div>
</section>